<a href="https://colab.research.google.com/github/30207SEUNG/Python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input_ipynd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = input('당신의 이름을 입력하시오 >>> ')
a

당신의 이름을 입력하시오 >>> 1

'1'

In [8]:
b= input ('당신의 나이를 입력하시오 >>> ')
b

당신의 나이를 입력하시오 >>> 18

'18'

In [10]:
type(b)

str

In [16]:
c = int(b)
c, type(c)

(18, int)

In [22]:
year = int(input ('출생년도를 입력하시오>>> '))
print('당신은 ', year, '년에 태어났군요')
age = 2020-year+1
print('당신은 ', age, '세 입니다.')

출생년도를 입력하시오>>> 2002
당신은  2002 년에 태어났군요
당신은  19 세 입니다.

**format** 서식지정자

In [24]:
s='a is {}'
s.format('apple')

'a is apple'

In [25]:
a = '%s %d 개 가격은 %.2f 달라'
b = a%('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [29]:
a = '%s %d 마리 가격은 %d 원'
b = a%('치킨', 2, 20000*2)

print(b)

치킨 2 마리 가격은 40000 원